<h1> Peeps Feed </h1>

<form action='/peeps/new' method="GET">
<input type="submit" value="Add peep">
</form> 


<ol>
  <% @peeps.each do |peep| %>
    <li><%= peep.message %> // <%= peep.timestamp.to_s[0,16] %> </li>
  <% end %>
</ol>

